.navbar{

    box-sizing: border-box;
    font-size: 24px;
    color: rgb(94, 196, 162);
    display: flex;
    width:100%;
    height: 160px;
    background-color: var(--primary--color);//將這個元素的背景顏色設定為 --primary-color 變數所儲存的值。
    justify-content: center;

    .navbarContainer{
        width: 90%;
        height: 100%;
        max-width: 1024px;
        color: white;

        .lineOne{
            display:flex;
            height:50%;
            align-items: center;
            justify-content: space-between;
            
            .lfef{
                display: flex;
                .logo{
                    font-size: 20px;
                    font-weight: 500;
                    color:inherit;// 表示這個元素的文字顏色會「繼承」父元素的顏色設定
                    text-decoration: none;
                }
            }
            
            .right{
                display: flex;
                align-items: center;
                .navButtonFlag{
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    border: none;
                    background-image: url("https://q-xx.bstatic.com/backend_static/common/flags/new/48-squared/tw.png");
                    background-size: cover;
                    &:hover{
                        cursor:pointer;
                        border:1px solid lightgray;
                    }
                }
                .navButtonNotif{
                    font-size:14px;
                    margin-left:10px;
                    padding: 8px 16px;
                    border:white 1px solid;
                    background-color: rgb(53,164,127);
                    color:white;
                    &:hover{
                        background-color: rgba(255,255,255,0.14);
                    }
                }
                .navButton{
                    font-size: 14px;
                    margin-left: 10px;
                    border: none;
                    border-radius: 2px;
                    padding: 8px 16px;
                    cursor: pointer;
                    color: rgb(53, 164, 127);
                }
            }
        }
        .lineTwo{
            display: flex;
            height: 50%;
            align-items:flex-start;
            gap:20px;//flexbox之間的間隔
            .item{
                display:flex;
                align-items: center;
                gap:10px;
                border-radius: 25px;
                padding: 10px 15px;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.14);
                }
            }
            border-radius:25px;
            padding:10px 15px;

            &:hover{
                background-color: rgba(255, 255, 255, 0.14);
            }
        }
        
    }
}

.active{
    border: white 1px solid;
    background-color: rgba(255,255,255,0.14);
}